name: build

on:
  push:
    paths:
      - 'Image2Display/**'
      - '.github/workflows/build.yml'
      - 'build_on_mac.sh'
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        # build and publish in parallel: linux-arm,linux-x64,win-x86,win-x64,win-arm
        dotnetos: [linux, win, osx]
        dotnetarch: [x86, x64, arm, arm64]
        exclude:
          - dotnetos: linux
            dotnetarch: x86
          - dotnetos: win
            dotnetarch: arm
          - dotnetos: osx
            dotnetarch: x86
          - dotnetos: osx
            dotnetarch: arm
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      - name: build-mac
        if: matrix.dotnetos == 'osx'
        env:
          DOTNETOS: ${{ matrix.dotnetos }}
          DOTNETARCH: ${{ matrix.dotnetarch }}
        run: |
          chmod +x ./build_on_mac.sh
          ./build_on_mac.sh $DOTNETOS-$DOTNETARCH
          mkdir Image2Display/Image2Display/pkg/
          mv build/* Image2Display/Image2Display/pkg/

      - name: build-others
        if: matrix.dotnetos != 'osx'
        env:
          DOTNETOS: ${{ matrix.dotnetos }}
          DOTNETARCH: ${{ matrix.dotnetarch }}
        run: |
          cd Image2Display/Image2Display
          dotnet publish -r $DOTNETOS-$DOTNETARCH --configuration Release --self-contained true -p:PublishTrimmed=true -p:TrimMode=link -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true
          rm bin/Release/net10.0/$DOTNETOS-$DOTNETARCH/publish/*.pdb
          mkdir pkg
          mv bin/Release/net10.0/$DOTNETOS-$DOTNETARCH/publish/* pkg/

      - uses: actions/upload-artifact@v4
        with:
          name: Image2Display-${{ matrix.dotnetos }}-${{ matrix.dotnetarch }}
          path: Image2Display/Image2Display/pkg/
