name: test

on:
  push:
    paths:
      - 'Image2Display/**'
      - '.github/workflows/test.yml'
  pull_request:
    paths:
      - 'Image2Display/**'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022, windows-11-arm, ubuntu-24.04-arm, macos-15, macos-15-intel]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'
      - name: test
        run: |
          cd Image2Display/I2D_Test
          dotnet test
